*{
    font-family: 'Kanit', sans-serif;
    
}

/* nav img{
    width: 15%;
    margin: 6px;    
} */

/* header img{
    width: 100vw;
    height: 100%;
    object-fit: cover;
   } */


/* #grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 30vh 30vh 30vh 40vh 10vh;
    grid-template-areas:
    "nav"
    "imgh"
    "desc"
    "imgmza"
    "blog"
    "foot"; */
}

/* .nav{
    grid-area: nav;
    background-color:rgb(198 149 149);
} */

/* .nav ul li a{
    color: white;
    text-decoration: none;
} */


/* .foot{
    grid-area: foot;
    background-color: yellow;
} */


/*nav{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/

    /* nav ul{
        display: flex;
    } */

        /* nav ul li{
            list-style: none;
            margin-right: 10px;
        } */

           


/* .img-mza{
    width: 100%;
    object-fit: cover;
    margin-top: 10px;
} */

/* .imagen-red{
    width: 50px;
    height: 50px;
} */

/*.center {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
}*/

/* footer{
    display: flex;
    align-items: center;
    justify-content: flex-start;     
    padding-top: 10px;
} */

/* .borP{
    margin-left: 30%;
}
.bgCard{
    background-color:black ;
} */
/* h1,h2{
text-align: center;
color: deeppink;
padding-top: 10px;
} */


/* .alDes{
    display: flex;
    align-items: center;}

.bgGral{
    background-color:rgb(219 189 189);
}
.color{
    color: whitesmoke;
}

.btnBg{
background-color: aquamarine;
}

.conAl{
    padding: 20px;
    border: 10px;
    font-style: oblique;
}*/




/* .map{
    display: flex;
    align-content: center;
    padding: 10px;
} */

 /* .galNos{
    max-height: 800px;
    padding: 10px;
    border-radius: 50px;   
}  */


/* #galeria{
display: flex;
flex-wrap: wrap;
margin: 2em 2em 0em 2em;
} */

/* main section p{
    margin: 1em 3em 1em 3em;
    text-align: justify;
} */
/* .btnCont{
    display: flex;
    margin-left: 20px;
    background-color: black;
    color: deeppink;
    margin: 0px 0px 20px 50px;
} */
