//variables globales

//colors
$mainColor:rgb(198 149 149);
$secondaryColor:rgb(219 189 189);
$letterColor:deeppink;

//font
$mainFont: 'Kanit', sans-serif;

//sizing
$textSm: 1em;
$textMd: 1.5em;
$textLg: 4em;

//padding
$padSm: 10px;
$padMd: 20px;
$padLg: 30px;

//width
$wiMd: 50%;
$wiLg: 100%





